@import '~@/assets/styles/common/px2rem';
.tag{
    >ul{
        padding: 0;
        margin: 0;
        margin-top: 25px;
        .tag-list{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            margin-bottom: 25px;
            // align-items: center;
            .tag-list-item{
                display: inline-block;
                box-sizing: border-box;
                max-width: 62px;
                height: 15px;
                line-height: 14px;
                padding: 0 6px;
                color: #ffb232;
                border: 1px solid #ffb232;
                border-radius: 1px;
                font-size: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-radius: px2rem(2); 
            }
            >p{
                margin: 0;
                padding: 0;
                display: inline-block;
                width: px2rem(250);
                font-size: 11px;
                color: #797d82;
                line-height: 17px;
            }
        }       
    }
}