@import "~@/assets/styles/common/mixins.scss";
@import "~@/assets/styles/common/px2rem.scss";

.cinema-detail{
    padding-top: px2rem(44); 

    .gobackhome{
        width: px2rem(44);
        height: px2rem(44);
        font-size: px2rem(14);
        line-height: px2rem(44);
        text-align: center;
        position: fixed;
        top: 0;
        left: px2rem(10);
    }

    .header-title{
        position: relative;
        text-align: center;
        font-size: 17px;
        color: #191a1b;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0 15px;
        background: #fff;
        top: 0;
        height: 44px;
        line-height: 44px;
        z-index: 302;
        box-sizing: border-box;
    }

    .cinema-wrap{

        .cinema-info{

            .tags{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: px2rem(12);
                color: #ffb232;
                overflow: hidden;
                position: relative;
                padding: px2rem(15) 0 px2rem(15);

                .tagger{
                    position: relative;
                    padding: px2rem(2) px2rem(6);
                    margin: 0 2.5px;
                    font-size: 10px;

                    &::after{
                        content: " ";
                        transform: scale(.5);
                        position: absolute;
                        border: 1px solid #ffb232;
                        top: -50%;
                        right: -50%;
                        bottom: -50%;
                        left: -50%;
                        border-radius: px2rem(2);
                        border-radius: 1px;
                    }
                }

            }
        }

        .address{
            width: 100%;
            height: px2rem(50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 px2rem(15);
            box-sizing: border-box;
            .address-left{
                margin-left: px2rem(6); 
            }
            .address-text{
                font-size: px2rem(14);
                height: px2rem(20);
                line-height: px2rem(20);
                padding: 0 px2rem(12);
                flex: 1;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .address-right{
                margin-right: px2rem(6);
            }
        }

    }

}
.cinema-banner{
    width: 100%;
    height: px2rem(160);
    padding: px2rem(15) 0;
    box-sizing: border-box;
    background: #cccccc;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-wrapper{
            .swiper-slide{
                height: px2rem(130);
                background: #ffffff;
                transition: 0.5s;
                >img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    } 

    .sanjiaoxing{
        position: absolute;
        border-bottom: px2rem(10) solid #fff;
        border-left: px2rem(10) solid transparent;
        border-right: px2rem(10) solid transparent; 
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
 
.swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
}